<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>出错了</title>
		<link rel="shortcut icon" href="./imgs/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="./css/error.css" />
	</head>
	<body class="container">
		<div class="xxx">
			<img src="./imgs/5xx.png" width="350rem" />
		</div>
		<div class="error">
			<img src="./imgs/error.png" width="330rem" />
		</div>
	</body>
</html>
