#navigation {
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-bottom: solid whitesmoke 5px;
}

#hall,#release,#help {
	font-size: 1.25rem;
	margin-left: 3rem;
	margin-top: 0.4rem;
}

.dropdown {
	margin-top: 5px;
}

#head-portrait {
	margin-top: 2px;
	font-size: 1.5rem;
}

.project-content {
	border: solid whitesmoke 3px;
	width: 57rem;
	margin-left: auto;
	margin-right: auto;
}

.project-name {
	font-size: 1.7rem;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.project-budget, .project-end {
	font-size: 0.97rem;
	color: rgba(170, 176, 182, 0.97);
	margin: 1rem;
}
.project-budget {
	text-align: right;
}
.project-type, .project-cycle {
	font-size: 1.2rem;
	margin: 1rem;
}

.project-details {
	width: 57rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
}

.font-big-size {
	font-size: 1.7rem;
	margin-top: 1rem;
	margin-left: 1.17rem;
}

.introduce {
	margin-top: 0.7rem;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2rem;
	width: 50rem;
}

.project-file {
	margin-top: 3rem;
}

.download {
	margin-top: 0.7rem;
	margin-left: 6rem;
	font-size: 1.2rem;
}